.person{
    background: none;
}
.person h1 {
    color: #ecd014;
}
.person a{
    text-decoration: none;
    padding: 8px;
    width: 100px;
    border: 1px solid goldenrod;
    text-align: center;
    color: goldenrod;
    display: block;
    margin: 40px auto;
}
.person a:hover{
    border-color: maroon;
    color: maroon;
}