.person-card{
    color: black;
    text-align: center;
    background: #1b1c1d;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    padding: 20px 50px;
    position: absolute;
    top: 25%;
    left: 10%;
    min-width: 300px;
}

.person-card hr{
    border: 1px solid black;
    background-color: black;
}
.person-card a{
    text-decoration: none;
    padding: 5%;
    background: black;
    color: goldenrod;
    margin-top: 20px!important;
    border-radius: 5px;
}
.person-card a:hover{
    color: maroon;
}
.person-card a:active{
    background: goldenrod;
}
.person-card > div > div{
    text-align: center;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.person-card > div h2:nth-child(1){
    font-size: large;
    color: darkgoldenrod;
}
.person-card > div h2:nth-child(2){
    font-size: large;
    color: maroon;
}


@media only screen and (max-width: 768px){
    .person-card{
        top: 30%;
        left: 11%;
        max-width: 200px;
        min-width: 80px;
    }
    .person-card > div{
        flex-direction: column;
    }
}