.app {
    min-height: 100vh;
    background: #110b0b;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .app{
        height: 95vh;
    }
}

