.app {
    min-height: 100vh;
    background: url("https://images.alphacoders.com/107/107763.jpg");
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .app{
        height: 95vh;
    }
}

